DEBUG=1
DB_NAME=AramGo
DB_USER=steven
DB_PASSWORD=steven2020
SECRET_KEY=your-secret-key-here
ALLOWED_HOSTS=localhost,127.0.0.1
RIOT_API_KEY=RGAPI-xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
BROKER_URL=redis://redis:6379/0
BACKEND_URL=redis://redis:6379/0
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_BACKEND_URL=redis://redis:6379/0