{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'match_history/css/base.css'%}">
    {% block extra_styles %}
    {% endblock %}
    <title>doc</title>
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <ul class="nav-list">
                <li><a href = "{% url 'match_history:home'%}">Home</a></li>
                <li>Champions</li>
            </ul>
            <form  action="{% url 'match_history:summoner' %}" method="post">
                {% csrf_token %}
                <input id = "nav-search" type="search" id="game_name" name="full_name" required placeholder ="Game Name + #Tag">
            </form>
            <ul class="nav-list">
                <li>About</li>
                <li>Updates</li>
            </ul>
        </div>
        <div class="content-wrapper">
            
            <div class="content">
                {% block content %}
                {% endblock  %}
            </div>
    </div>
</body>
</html>