{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'match_history/css/base.css'%}">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>{% block title %}Doc{% endblock %}</title>
    {% block head %}{% endblock %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
    </style>
    {% block extra_styles %} {% endblock %}
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <ul class="nav-list left">
                <li class ="nav-link home"><a href = "{% url 'match_history:home'%}">Home</a></li>
            </ul>
            <form class="header-form" action="{% url 'match_history:summoner' %}" method="post">
                {% csrf_token %}
                <input id = "nav-search" type="search" id="game_name" name="full_name" required placeholder ="Game Name + #Tag">
            </form>
            <ul class="nav-list right">
                {% comment %} <li class ="nav-link"><a href="{% url "match_history:about" %}">About</a></li> {% endcomment %}
                <li class ="nav-link champions"><a href="{% url "match_history:champions" %}">Champions</a></li>
                <li class ="nav-link about"><a href="{% url "match_history:about" %}">About</a></li>
            </ul>
        </div>
        <div class="content-wrapper">
            
            <div class="content">
                {% block content %}
                {% endblock  %}
            </div>
        <div class="footer">
            <div class="footer-text">AramGo is not endorsed by Riot Games and does not reflect the views or opinions of Riot Games or anyone officially involved in producing or managing Riot Games properties. Riot Games and all associated properties are trademarks or registered trademarks of Riot Games, Inc</div>
        </div>
    </div>
    
    {% block extra_scripts %}
    {% endblock %}
</body>
</html>