{% for champ, stats in champion_stats%}
    <div class="champ-card">
        <div class="icon-med">
            <img class="champ-img" src="{{champ.get_url}}" alt="">
        </div>
        <div class="champs-text">
            <div class="champ-text">{{champ.name}}</div>
            <div class="stat-section stats-text sub-text">
                <div class="champ-kda">{{stats.kda}}:KDA</div>
                <div class="kda">{{stats.kills}} / {{stats.deaths}} / {{stats.assists}}</div>
            </div>
            <div class=" total-played">
                <div class="winrate">{{stats.winrate}}</div>
                <div class="total-played">{{stats.total_played}} games</div>
            </div>
        </div>
    </div>
{% endfor %}