
{% extends "match_history/base.html" %}
{% load static  %}
{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'match_history/css/details.css' %}">
{% endblock %}

{% block content %}
<div class="summoner-header">
    <div class="summoner-card">
        <img class="icon" src="{{summoner.profile_icon.get_full_url}}" alt="" >
        <div class="summoner-name">
            <p class="large-text">{{summoner.game_name}} <span id="tag">#{{summoner.tag_line}}</span></p>
            <button id = "update">Update</button>
        </div>
    </div>
</div>
<div class="main-info">
    <div class="sidebar section">

    </div>
    <div class="match-history section">
        Match History
    </div>
</div>

{% endblock content %}