
@font-face {
  font-family: 'cotham_sansregular';
  src: url('../fonts/cothamsans-webfont.woff2') format('woff2'),
  url('../fonts/cothamsans-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
    padding: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset; /* Keeps the background white */
    box-shadow: 0 0 0px 1000px white inset; /* Same for non-webkit browsers */
    -webkit-text-fill-color: black; /* Ensures text color stays black */
    transition: background-color 5000s ease-in-out 0s; /* Prevents color change */
}
  :root {
    --primary-color: #10131a;
    --max-width: 1080px;
    --secondary-color: #222433;
  }

  .nav-list {

    list-style: None;
    display: flex;
    gap: 2rem;
    padding: 0 40px
  }
.nav-link {
    padding: 6px;
    transition: box-shadow 0.3s ease;
    border-radius: 12px;
    color: #87888a
}
.nav-link:hover {
  transform: scale(1.05);
  background-color: #222433
}
.header-form {
  justify-self: center;
  align-items: center;
}
.header-wrapper {
  display: flex;
}
.right {
  justify-self: end;
}

  .wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 4rem auto;
    background-color: var(--primary-color);
    color: white;
    min-width: var(--max-width);
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    gap: 40px
    
  }
  .test {
    margin: auto;
    width: 60ch;
  }
  .content-wrapper {
    height: 100%;
  }
  .content {
    height: 100%
  }

  a {
    text-decoration: none;
    color: inherit
  }
  a:visited {
    color: inherit
  }
  .header {
    position: sticky;
    top: 0px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    min-width: var(--max-width);
    z-index: 999;
    background-color: var(--primary-color);

  }
  #nav-search {
    width: 300px;
    padding: .3rem 1.5rem;
    border-radius: 12px;
    border: 1px solid lightgray;
    font-size: .8rem;
  }
  input[type="search"]:focus {
    outline: none; /* Removes the default outline */
    /* Optional: you can add custom styles for the focus state if needed */
    border: 1px solid #ccc; /* Example: change border color to something subtle */
    box-shadow: none; /* Removes any default box-shadow if present */
}

  #djDebug {
    grid-area: auto / auto / auto / auto;
    position: fixed;  /* Take it out of the document flow if needed */
    top: 0;
    right: 0;
    z-index: 9999;  /* Ensure it's on top of other content */
}