.content {
    /* background-color: lightgray; */
}
.icon {
    width: 100px;
    border-radius: 50%;
    border: 2px solid white
}

.champion-icon {
    width: 48px;
    overflow: hidden;
}
.small-img{
    width: 22px;
}
.spe
.champ-icon-small {
    width: 15px;
    border-radius: 50%;
    overflow: hidden
}
.champ-img {
    transform: scale(1.15);
}
.spells-wrapper {
    overflow: hidden;
}
.large-text {
    font-size: 3rem;
}
#tag {
    font-weight: 1000;
    color: gray;
}
#update {
    padding: .2rem 1rem;
}
.summoner-header{
    /*background-color: #222534;*/
    margin: auto;
    width: var(--max-width);
    height: 12.5rem;
    display: flex;
    align-items: center;
}
.summoner-card {
    display: flex;
    gap: 1rem
}

.main-info {
    padding-top: 1rem;
    display: grid;
    /* background-color: salmon; */
    min-height: 1400px;
    margin: auto;
    width: var(--max-width);
    display: grid;
    grid-template-columns: 330px 1fr;
    gap: 1rem
}
.sidebar {
    background-color: #222433;
}
.match-history {
    /*background-color: rgb(235, 252, 135);*/
}
.matches-container {

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.match-card {
    /* height: 100px; */
    padding: .2rem;
    height: 100px;
    display: flex;
    font-weight: 1000;
    border-radius: 5px;
}

.match-card.match-win {
    background-color: rgba(145,166,179,.3);
}
.match-card.match-lose {
    background-color: rgba(213,123,101,.3);
    opacity: .9;
}
.match-win:hover {
    background-color: rgba(145,166,179,.1);
}
.match-lose:hover {
    background-color: rgba(213,123,101,.1);
}

.match-section-container {
    display: flex;
    gap: 20px
}
.result-seciton {

}

.build-section {

}
.icon-2stack{
    display: flex;
    flex-direction: column;
}
.build-container {
    display: flex
}
.items {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap:2px;
    background-color: rgba(145,166,179,.2)
}
.items .match-win {
    background-color: rgba(145,166,179,.2)
}
.items .match-lose {
    background-color: rgba(213,123,101,.2);
}
.stat-section {

}
.participant-section {
    font-size: 11px;
    display: flex;
    color: #e6e6e6;
    gap: 5px;
}
.participant-entry {
    display: flex;
    gap: 4px;
    align-items: center;
}
.game-name {
    max-width: 10ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 500;
    
}
.highlight{
    background-color: yellow;
}
.team-blue,
.team-red {
    display: flex;
    flex-direction: column;
    gap: 2px
}

.section {
    border-radius: 12px;
    /* background-color:#222433 ; */
    padding: 20px
}
.sub-text {
    font-size: .8rem;
    color: #595a5b
}
button {
    display: block;
}
