.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.error {
   margin-top: 10%;
   display: flex;
   font-size: 80px;
   width: 1080px;
   align-items: center;

}
.error-type{
    font-weight: 1000;
    font-size: 100px;
}
.text-wrapper{
    position: relative;
    left: 100px;
}
.poro-img{
    position: relative;
    right: 100px
}
.error-text {
    width: 500px
}
.text-wrapper{
    width: 500px;
}

.poro-img {
    width: 900px;
}
