.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 33%
}

/* .wrapper {
    background-image: url(../icons/test.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */
h1 {
    font-family: "Mulish", sans-serif;
    color: white;
    font-size: 80px;
}
#nav-search {
    display: none;
}
#main-search {
    width: 600px;
    padding: .5rem 1.5rem;
    border-radius: 12px;
    border: 1px solid lightgray;;
}

input[type="search"]:focus {
    outline: none; 
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: none;
}

span{
    color: #3655ab;


}


button {
    display: block;
}
.input-wrapper{
    display: flex;
    align-items: center;
}
.search-icon {
    width: 30px;
    height: 30px;
    position: relative;
    right: 45px;
    background-color: white;
    border: none
}


.header {
    background-color: transparent;
}