.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 33%
}

/* .wrapper {
    background-image: url(../icons/test.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */
h1 {
    font-family: "Mulish", sans-serif;
    color: white;
    font-size: 80px;
}
#nav-search {
    display: none;
}
#main-search {
    width: 600px;
    padding: .5rem 1.5rem;
    border-radius: 12px;
    border: 1px solid lightgray;;
}

input[type="search"]:focus {
    outline: none; 
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: none;
}

span{
    color: #4b6bc37e;;
    font-family: "Space Mono", monospace;


}


button {
    display: block;
}
.input-wrapper{
    display: flex;
    align-items: center;
}
.search-icon {
    width: 30px;
    height: 30px;
    position: relative;
    right: 45px;
    background-color: white;
    border: none
}


.header {
    background-color: transparent;
}







.walking-container {
    margin-bottom: 30px;
    position: fixed;
    bottom: 0;
    left: -100px; 
    width: 300px; 
    overflow: hidden; 
    animation: walkAcross 23s linear infinite; /* Adjust duration as needed */
    user-select: none; /* Disable text selection */
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For older Internet Explorer */
}

#walking-gif {
    width: 100%; 
    height: auto; 
}

@keyframes walkAcross {
    0% {
        left: -100px; 
    }
    66% {
        left: calc(100% + 100px); 
    }
    100% {
        left: calc(100% + 100px); 
    }
}

